:php
  $this->pageTitle=Yii::app()->name . ' - Login';
  $this->breadcrumbs=array(
    'Login',
  );

%h1 Login

%p Please fill out the following form with your login credentials:

.form
  :php
    $form=$this->beginWidget('CActiveForm', array(
      'id'=>'login-form',
      'enableClientValidation'=>true,
      'clientOptions'=>array(
        'validateOnSubmit'=>true,
      ),
    ));

  %p.note Fields with <span class="required">*</span> are required.

  .row
    = $form->labelEx($model,'username')
    = $form->textField($model,'username')
    = $form->error($model,'username')

  .row
    = $form->labelEx($model,'password')
    = $form->passwordField($model,'password')
    = $form->error($model,'password')
    
    %p.hint Hint: You may login with <tt>demo/demo</tt> or <tt>admin/admin</tt>.

  .row.rememberMe
    = $form->checkBox($model,'rememberMe')
    = $form->label($model,'rememberMe')
    = $form->error($model,'rememberMe')

  .row.buttons
    = CHtml::submitButton('Login');

  - $this->endWidget()
/ form
